.card1 button{
    width: 5rem;
}
.card1 {
    background-color: black;
    
}
.company{
    background-color: black;
    width: 90%;
    padding: 1rem;
    margin: 5rem;
    box-shadow: rgba(243, 156, 18, 0.6) 5px 5px, rgba(243, 156, 18, 0.4) 10px 10px, rgba(243, 156, 18, 0.2) 15px 15px, rgba(243, 156, 18, 0.2) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.mb-3 {
    color:rgb(230, 227, 227);
    font-size:x-large;
    box-shadow: rgba(243, 156, 18, 0.6) 5px 5px, rgba(243, 156, 18, 0.4) 10px 10px, rgba(243, 156, 18, 0.2) 15px 15px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.col {
    border: 2px solid #fde6c2;
    margin-top: 1rem;
    padding: 1rem; 
    box-shadow: rgba(243, 156, 18, 0.6) 5px 5px;
}
.card1 h5{
    color:rgb(230, 227, 227);
    border-bottom: 2px solid rgb(230, 227, 227);
}